/*

https://stackoverflow.com/questions/22902447/how-to-get-the-second-match-with-queryselector

https://stackoverflow.com/questions/22727403/getelementsbytagname-in-javascript

https://stackoverflow.com/questions/44846614/trigger-css-animations-in-javascript

https://www.w3schools.com/jsref/met_document_queryselector.asp

https://www.mirrorreview.com/surprising-facts-about-apple/

https://codepen.io/fionnachan/pen/EvaqOB

https://dribbble.com/shots/3419458-My-Profile

https://www.freecodecamp.org/news/4-reasons-your-z-index-isnt-working-and-how-to-fix-it-coder-coder-6bc05f103e6c/

https://www.w3schools.com/cssref/pr_class_cursor.php

https://getcssscan.com/css-box-shadow-examples

https://elements.envato.com/audio/cartoon+suspense

https://codetogo.io/how-to-stop-audio-in-javascript/

https://www.flaticon.com/authors/freepik

https://www.flaticon.com/free-icon/technology_1429951?related_id=1429951&origin=search






*/
